:root {
  --color-background: #031a50;
  --color-text: var(--color-white);
  --color-white: #fff;
  --color-button-background: var(--color-button-background-default);
  --color-button-background-default: #003b8f;
  --color-button-background-default-hover: #0a3c81;
  --color-button-background-focus: #003b8f;
  --color-button-background-focus-hover: #0a3c81;
  --color-button-background-stop: #8f3700;
  --color-button-background-stop-hover: #812d00;
  --color-button-text-default: #b7d5ff;
}

[data-selected-theme="blue"] {
  --color-background: #031a50;
  --color-text: var(--color-white);
}

[data-selected-theme="purple"] {
  --color-background: #3b1645;
  --color-text: var(--color-white);
}

[data-selected-theme="mono"] {
  --color-background: #000000;
  --color-text: var(--color-white);
  --color-button-background: white;
  --color-button-background-default: white;
  --color-button-background-default-hover: #ececec;
  --color-button-background-focus: white;
  --color-button-background-focus-hover: #ececec;
  --color-button-background-stop-hover: #ececec;
  --color-button-background-stop: white;
  --color-button-text-default: black;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  min-width: 360px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background);
    color: var(--color-white);
  }
}

a {
  color: var(--color-white);
  text-decoration: none;
}

h1,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color-text);
}

h1 {
  font-size: 8rem;
  font-size: 35vw;
  line-height: 1;
}

p {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -0.25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.timerContainer {
  font-weight: bold;
  margin: 0 0 1rem 0;
}

section {
  display: flex;
  margin-top: 2rem;
}

.button-container {
  display: flex;
  gap: 0rem;
}

.button-container > div {
  display: flex;
  flex-basis: 100%;
}

button {
  font-size: 1.55rem;
  font-family: inherit;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 0 0.5rem;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 6px;
  background: var(--color-button-background);
  color: var(--color-button-text-default);
  border: 1px solid;
  border-color: var(--color-button-background-default);
  transition: background 100ms ease-in-out;
  width: 100%;
  min-height: 60px;
}

button svg {
  width: 32px;
  height: 32px;
}

@media (min-width: 1024px) {
  button svg {
    width: 64px;
    height: 64px;
  }
}

button svg path {
  fill: var(--color-button-text-default);
}

button:hover {
  background: var(--color-button-background-default-hover);
}

.button-focus {
  background: var(--color-button-background);
  border-color: var(--color-button-background-focus);
}

.button-focus:hover {
  background: var(--color-button-background-focus-hover);
}

.button-break {
  background: var(--color-button-background);
  border-color: var(--color-button-background-focus);
}

.button-break:hover {
  background: var(--color-button-background-focus-hover);
}

.button-stop {
  background: var(--color-button-background-stop);
  border-color: var(--color-button-background-stop);
}

.button-stop:hover {
  background: var(--color-button-background-stop-hover);
}

.button-container-breaks button {
  font-size: 1.25rem;
}
