:root {
  --color-background: #031a50;
  --color-red: #812d00;
  --color-mono: #2a2c2d;
  --color-text: var(--color-white);
  --color-white: #fff;
  --color-button-background: var(--color-button-background-default);
  --color-button-border: #003b8f;
  --color-button-background-default: #003b8f;
  --color-button-background-default-hover: #0a3c81;
  --color-button-background-focus: #003b8f;
  --color-button-background-focus-hover: #0a3c81;
  --color-button-background-stop: #8f3700;
  --color-button-background-stop-hover: #812d00;
  --color-button-text-default: #b7d5ff;
  --color-icon: #fff;
}

:root,
[data-selected-theme="blue"] {
  --color-background: #031a50;
  --color-text: var(--color-white);
}

[data-selected-theme="red"] {
  --color-background: #812d00;
  --color-text: var(--color-white);
  --color-text: var(--color-white);
  --color-button-background: white;
  --color-button-background-default: white;
  --color-button-background-default-hover: #ececec;
  --color-button-background-focus: white;
  --color-button-background-focus-hover: #ececec;
  --color-button-background-stop-hover: #ececec;
  --color-button-background-stop: white;
  --color-icon: #812d00;
}

[data-selected-theme="mono"] {
  --color-background: #2a2c2d;
  --color-text: var(--color-white);
  --color-button-background: white;
  --color-button-background-default: white;
  --color-button-background-default-hover: #ececec;
  --color-button-background-focus: white;
  --color-button-background-focus-hover: #ececec;
  --color-button-background-stop-hover: #ececec;
  --color-button-background-stop: white;
  --color-icon: #000;
}

html {
  max-width: none;
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background);
    color: var(--color-white);
  }
}

a {
  color: var(--color-white);
  text-decoration: none;
}

h1,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color-text);
}

h1 {
  font-size: 30vw;
  line-height: 1;
  position: relative;
  top: -20px;
}

@media (min-width: 580px) {
  h1 {
    font-size: 35vw;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 30vw;
  }
}

/* Header */

button[data-theme][aria-pressed="true"] {
  color: var(--color-background);
}

button[data-theme]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-text) inset;
}

button[data-theme][aria-pressed="true"]:is(:hover, :focus) {
  box-shadow: 0 0 1px 2px var(--color-text);
}

header {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 400;
  height: 100vh;
  right: 0;
  top: 0;
  width: 60px;
}

.header-container {
  position: absolute;
  top: 50%;
  transform: translate(-60px, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.5rem;
  transition: all 350ms ease-in-out;
  height: auto;
  width: 50px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0;
  opacity: 0;
  border-radius: 20px 0 0 20px;
  right: -70px;
}

.header-container .button {
  min-height: auto;
  font-size: 1rem;
  padding: 0;
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.header-container button svg {
  height: 24px;
}

.header-container button svg path {
  fill: #000;
}

.header-container button.button-popup svg path {
  fill: var(--color-icon);
}

[data-selected-theme="blue"] .header-container button.button-popup svg path {
  fill: var(--color-background);
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 400;
}

header:hover .header-container,
.header-container:hover {
  opacity: 1;
  right: 0;
}

.theme-switcher button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  min-height: auto;
  border: none;
  margin: 0.5rem 0;
  padding: 0;
}

button[data-theme="blue"],
button[data-theme="blue"]:hover {
  background: #031a50;
}

button[data-theme="red"],
button[data-theme="red"]:hover {
  background: #812d00;
}

button[data-theme="mono"],
button[data-theme="mono"]:hover {
  background: #2a2c2d;
}

.theme-switcher button span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Main */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 1rem;
  z-index: 300;
  min-height: 250px;
}

#timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 0 1rem;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

.timerDisplay {
  font-weight: bold;
  margin: 0;
}
section {
  display: flex;
  margin-top: 2rem;
}

footer:hover .buttons-container {
  transition: all 350ms ease-in-out;
  opacity: 1;
}

footer {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  opacity: 1;
}

.buttons-container > button {
  margin: 0.5rem 0;
}

@media (min-width: 360px) {
  .buttons-container {
    display: flex;
    flex-direction: row;
  }
  .buttons-container > button {
    margin: 0 0.5rem;
  }
}

@media (min-width: 615px) {
  .buttons-container {
    opacity: 1;
  }
  .buttons-container > button {
    margin: 0 0.5rem;
  }
}

@media (min-width: 615px) {
  .buttons-container {
    max-width: 60vw;
  }
}

.buttons-container > div {
  display: flex;
  flex-basis: 100%;
}

button {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  background: var(--color-button-background);
  color: var(--color-button-text-default);
  border: 1px solid;
  border-color: var(--color-button-border);
  transition: background 100ms ease-in-out;
  width: 100%;
  min-height: auto;
}

button svg {
  width: 32px;
  height: 32px;
}

@media (min-width: 1024px) {
  button svg {
    width: 64px;
    height: 64px;
  }
}

button svg path {
  fill: var(--color-icon);
}

button:hover {
  background: var(--color-button-background-default-hover);
}

.button-focus {
  background: var(--color-button-background);
  border-color: var(--color-button-background-focus);
}

.button-focus:hover {
  background: var(--color-button-background-focus-hover);
}

.button-break {
  background: var(--color-button-background);
  border-color: var(--color-button-background-focus);
}

.button-break:hover {
  background: var(--color-button-background-focus-hover);
}

.button-stop {
  background: var(--color-button-background-stop);
  border-color: var(--color-button-background-stop);
}

.button-stop:hover {
  background: var(--color-button-background-stop-hover);
}

.buttons-container-breaks button {
  font-size: 1.25rem;
}

@media (max-height: 170px) {
  h1 {
    font-size: 25vw;
    top: 0px;
  }

  #timerContainer {
    height: auto;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .main-container {
    flex-direction: row;
    min-height: auto;
  }

  .header-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .buttons-container {
    flex-wrap: wrap;
    margin-left: 1rem;
    position: relative;
    z-index: 400;
  }

  .buttons-container > button {
    max-width: 65px;
    margin: 0.45rem;
  }

  .button-focus {
    order: 1;
  }

  .button-stop {
    order: 2;
  }

  .button-break {
    order: 3;
  }

  button svg {
    width: 25px;
    height: 25px;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Maximum width for the popup */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  display: none;
}

/* Make the iframe responsive */
.popup iframe,
iframe {
  width: 100%;
  height: 100%;
}

/* Style the close button */
.popup #closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-18 17:31:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
